<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/mainPage.css">
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/mainPage.css">
    <link rel="stylesheet" type="text/css"
    href="/Curriculum-design-smm/css/myclass.css">
    <script src="./js/Timetables.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/bootstrap.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/jquery-ui.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/bootstrap-table.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/jquery.md5.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/mainPage.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript"
    src="/Curriculum-design-smm/js/password.js"></script>
</head>
<body>

 <div id="navBar">
    <!-- 此处加载顶部导航栏 -->
    <!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- 导航栏标题 -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand home" id="home">更换账号</a>
            </div>

            <!-- 导航栏下拉菜单；用户信息与注销登陆 -->
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>
                            <span>欢迎&nbsp;</span> <span id="nav_userName">用户名:</span>
                            <!--小三角-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                           
                                                        <li>
                                <a href="#" id="signOut"> <span
                                        class="glyphicon glyphicon-off"></span> &nbsp;&nbsp;注销登录
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid" style="padding-left: 0px;">
    <div class="row">
        <!-- 左侧导航栏 -->
        <div id="sideBar" class="col-md-2 col-sm-3">
            <!--  此处加载左侧导航栏 -->
            <!-- 左侧导航栏  -->
            <!--依照accordion为parent-->
            <div class="panel-group" id="accordion">
                 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse5" data-toggle="collapse" data-parent="#accordion" class="parentMenuTitle collapseHead">纺机信息</a>
                              
                            <div class="pull-right  "><span class="caret"></span></div>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse collapseBody">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" id="changpassword" class="menu_item">纺机信息查询</a>
                                       
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                         
                </div>
                
                <!-- 新益 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse6" data-toggle="collapse" data-parent="#accordion" class="parentMenuTitle collapseHead collapsed" aria-expanded="false" >专家库</a>
                            <div class="pull-right  "><span class="caret"></span></div>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse collapseBody" aria-expanded="false">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" id="querylist" class="menu_item" >进入专家库</a>
                                </li>
                            <li class="list-group-item">
                                    <a href="#" id="querylist" class="menu_item" >特殊故障处理</a>
                                </li>
                                   
                                
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <!-- 新益 -->
                <!-- collapse7 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse7" data-toggle="collapse" data-parent="#accordion" class="parentMenuTitle collapseHead collapsed" aria-expanded="false">故障处理</a>
                            <div class="pull-right  "><span class="caret"></span></div>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse collapseBody" aria-expanded="false">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" id="aa" class="menu_item" >提交故障</a>
                                </li>
                                 <li class="list-group-item">
                                    <a href="#" id="aa" class="menu_item" >故障审核</a>
                                </li>
                                
                                    
                                
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                </div>
             
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse8" data-toggle="collapse" data-parent="#accordion" class="parentMenuTitle collapseHead">报修信息</a>
                              
                            <div class="pull-right  "><span class="caret"></span></div>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse collapseBody">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" id="changpassword" class="menu_item">报修</a>
                                       
                                </li>
                                <li class="list-group-item">
                                    <a href="#" id="changpassword" class="menu_item">审核</a>
                                       
                                </li>
                                <li class="list-group-item">
                                    <a href="#" id="changpassword" class="menu_item">专家库录入</a>
                                       
                                </li>
                            </ul>
                        </div>
                    </div>
                         
                </div>
             
                <!--  -->
            </div>
        </div>

        <!-- 面板区域 -->
     <div id="panel" class="col-md-10 col-sm-9">
          
        </div>
    </div>
</div>
<script type="text/javascript">
welcomePageInit();
    myclick();
   
    
</script>

</body>

</html>